
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    background-color: #f1f1f1;
    position: fixed;
    
}
.navbar{
    background-color: darkslategrey;
    width: 100%;
    line-height: 40px;
}
.navv{
    list-style: none;
    display: flex;
    margin-left: 40px;
    padding:0 60px;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.navbar .navv li a:hover{
color: #f1f1f1;
transition: all 1s ease;
}
.afternav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 10px solid whitesmoke;
}
.furniture {
margin-left: 70px;
line-height: 100px;
font-size: 25px;
font-family: "Oswald", sans-serif;
color: #000;
}
.head{
    display: flex;
    margin-right: 30px;
    list-style: none;
    justify-content: space-between;
    padding: 50px 60px; 
}
li{
    padding-right: 80px;
    margin-left: 40px;
}
.aa{
    color: gray;
}
.afternav .head .aa:hover{
    border-bottom: 1px solid darkslategrey;
    padding-top: 8px;
    color: darkslategray;
}
.content{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 10px solid whitesmoke;
}
.container{
    background-color: lightblue;
    width: 1200px;
    height: 650px;
    margin: auto;
    border-radius: 15px;
    width: 50%;
}
.container h1{
    margin-left: 100px;
    padding-top: 100px;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}
.container p{
    padding-top: 50px;
    font-size: 25px;
    margin-left: 50px;
}
.shop{
    margin-left: 100px;
    line-height: 250px;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #f1f1f1;
    background-color: black;
    padding: 12px 25px;
    border-radius: 20px;
}
.shop:hover{
    background-color: lightslategray;
}
.product-section{
    display: flex;
}
.product-card{
    background-color: lightblue;
    border-radius: 15px;
    width: 350px;
    padding: 10px;
    text-align: center;
    position: relative;
}
.product-card img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.product-info{
    background-color: lightblue;
    padding: 5px;
    position: absolute;
    border-radius: 4px;
    margin-left: 60px;
    color: black;
}.product-name{
    display: block;
    font-weight: bold;
    padding: 10p;
    margin-right: 50px;
}.product-price{
    color: black;
    margin-right: 50px;
}
.product-info .product-name{
    margin-left: 30px;
}.product-info .product-price{
    margin-left: 30px;
    color: black;
}
.dsell{
    text-align: center;
}
.dsell .hsell{
    font-family: "Oswald", sans-serif;
}
.dsell .psell{
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
}
.menu{
    text-align: center;
    padding: 30px;
    border-bottom: 10px solid whitesmoke;
}
.product-grid{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.product-box{
    width: 22%;
    padding: 15px;
    border-radius: 10px;
}
.product-box img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin-bottom: 8px;
}
.more{
    text-align: center;
}
.more .hmore{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Oswald", sans-serif;
}
.more .pmore{
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
} 
.x{
    text-align: center;
    padding: 25px;
}.x-product{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.x-details{
    width: 25%;
    padding: 20px;
}.x-details p{
    padding-bottom: 5px;
}
.x-details img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}
.x-details a{
    background-color: black;
    border: 5px;
    color: whitesmoke;
    padding: 3px;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
}.x-details a:hover{
    background-color: lightslategray;
}

.footer{
    margin-top: 30px;
    background-color: beige;
    align-items: center;
}
.footer .foot{
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}
.foot h2 {
    align-items: center;
    font-family: "Oswald", sans-serif;
}
.copywrite{
    padding-top: 50px;
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: space-between;
}
.copywrite ul li {
    list-style: none;
    padding-top: 3px;
}.copywrite .footcopy{
    display: flex;
    line-height: 5px;
}.copywrite p{
    margin-right: 20px;
}.copywrite ul li a:hover{
    color: #000;
    border-bottom: 1px solid black;
}



